html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  color: #333;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0,80,160);
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
  background-color: #eee;
}

input:disabled {
  color: #ccc;
}

button {
  color: inherit;
  min-width: 2em;
  min-height: 2em;
  margin: 6px;
  cursor: pointer;
  border-radius: 0.4em;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:disabled {
  color: #999;
}

button:focus {
  background-color: rgba(255, 255, 255, 0.13);
}

@media (pointer: coarse) and (max-width: 600px) {
  button {
    font-size: 150%;
  }
}
