<script lang="ts">
  import { Router } from "svelte-navigator";

  import Main from "./Main.svelte";
</script>

<style>
  main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    font-size: 1em;
    overflow: hidden;
  }
</style>

<Router>
  <main>
    <Main />
  </main>
</Router>
