<script lang="ts">
  export let shortcode: string;
  export let slug: string;
  export let big: boolean;

  $: emojiUrl = "/data/emoji/" + slug + ".png";
</script>

<style>
  .emoji {
    width: 28px;
    height: 28px;
    margin: -3px 0 0;
    object-fit: contain;
    vertical-align: middle;
  }

  .emoji.big {
    width: 128px;
    height: 128px;
    margin: -3px 0 0;
  }
</style>

<img class="emoji" class:big={big} title={shortcode} alt={shortcode} src={emojiUrl} />
