<script lang="ts">
  import { navigate } from "svelte-navigator";

  export let hideBackButton: boolean = false;

  export let foregroundColor: string | null = null;
  export let backgroundColor: string | null = null;

  export let allowCompact: boolean = false;

  let opened = false;

  function onBackButtonClick(_evt) {
    navigate(-1);
  }

  let headerBarStyles = "";

  $: {
    headerBarStyles = "";
    if (foregroundColor) {
      headerBarStyles += `color: ${foregroundColor};`;
    }
    if (backgroundColor) {
      headerBarStyles += `background-color: ${backgroundColor};`;
    }
  }
</script>

<style>
  #headerbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 0.1em 1em;
    background-color: #282828;
    min-height: 3em;
  }

  #headerbar-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    width: 3em;
    margin-right: 0.6em;
  }

  @media (pointer: coarse) {
    #headerbar-back-button {
      display: none;
    }
  }

  #headerbar-icon {
    display: flex;
    border-radius: 0.4em;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    width: 3em;
  }

  #headerbar-title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex: 1;
  }

  #headerbar-title-placeholder {
    display: none;
    flex: 1;
  }

  #headerbar.open #headerbar-title-placeholder {
    display: block;
  }

  #headerbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #headerbar-menu {
    display: none;
  }

  @media (max-width: 900px) {
    #headerbar-menu {
      display: flex;
    }

    #headerbar-buttons {
      display: none;
    }

    #headerbar.open #headerbar-buttons {
      display: flex;
    }

    #headerbar.open #headerbar-icon {
      display: none;
    }

    #headerbar.open #headerbar-title {
      display: none;
    }
  }

  #headerbar.no-compact #headerbar-menu {
    display: none;
  }

  #headerbar.no-compact #headerbar-title-placeholder {
    display: none;
  }

  #headerbar.no-compact #headerbar-buttons {
    display: flex;
  }

  #headerbar.no-compact #headerbar.open #headerbar-icon {
    display: none;
  }

  #headerbar.no-compact #headerbar.open #headerbar-title {
    display: none;
  }
</style>

<div id="headerbar" style={headerBarStyles} class:open={opened} class:no-compact={!allowCompact}>
  <div id="headerbar-back-button">
    {#if !hideBackButton}
      <button on:click={onBackButtonClick}>
        <div class="fas fa-arrow-left"></div>
      </button>
    {/if}
  </div>
  <div id="headerbar-icon">
    <slot name="icon"></slot>
  </div>
  <div id="headerbar-title">
    <slot></slot>
  </div>
  <div id="headerbar-title-placeholder"></div>
  <div id="headerbar-buttons">
    <slot name="buttons"></slot>
  </div>
  <div id="headerbar-title-placeholder"></div>
  <div id="headerbar-menu">
    <button on:click={(_evt) => { opened = !opened; }}>
      <div class="fas fa-bars"></div>
    </button>
  </div>
</div>
