<script lang="ts">
  import HeaderBar from "./HeaderBar.svelte";
  import StyledBody from "./StyledBody.svelte";

  import { parseBbCode, fullBbCodeConfig } from "../util/body";

  const codeExamples = [
    { code: "[b]bold" },
    { code: "[i]italic" },
    { code: "[s]strikeout" },
    { code: "[u]underline" },
    { code: "a[b]b[i]c[/b]d[u]e[/i]e[s]f[/s]g[/u]h" },
    { code: "[fs=5]small[fs=30]big" },
    { code: "[fc=#f9f]pink" },
    { code: "[fo=#f9f]pink shadow" },
    { code: "[ff=monospace]monospace" },
  ];
</script>

<style>
  #help-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
  }

  .code-example {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
  }

  .code-code {
    white-space: pre;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    flex: 1;
    margin: 10px;
    padding: 3px;
  }

  .code-result {
    flex: 1;
    margin: 10px;
    padding: 3px;
  }
</style>

<HeaderBar>
  Help
</HeaderBar>
<div id="help-view">
  <div class="section-header">
    Formatting
  </div>
  <div class="section-content">
    {#each codeExamples as example}
      <div class="code-example">
        <div class="code-code">
          {example.code}
        </div>
        <div class="code-result">
          <StyledBody nodes={parseBbCode(example.code, fullBbCodeConfig)} />
        </div>
      </div>
    {/each}
  </div>
</div>
