<script lang="ts">
  import { Router, Route, Link, useMatch, useLocation, navigate } from "svelte-navigator";

  import { writable } from "svelte/store";

  import service from "../service";
  import servicesFor from "../services";

  import Roster from "./Roster.svelte";
  import RoomView from "./RoomView.svelte";
  import UserInfoView from "./UserInfoView.svelte";
  import Onboarding from "./Onboarding.svelte";
  import EmojiList from "./EmojiList.svelte";
  import EmojiNew from "./EmojiNew.svelte";
  import Settings from "./Settings.svelte";
  import CreateRoom from "./CreateRoom.svelte";
  import HelpPage from "./HelpPage.svelte";
  import RoomSettings from "./RoomSettings.svelte";
  import Chat from "./Chat.svelte";
  import SearchRooms from "./SearchRooms.svelte";
  import SearchUsers from "./SearchUsers.svelte";

  const offlineStore = service.getOfflineStore();
  $: offline = $offlineStore;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: subscriberStateStore = services.isRestricted ? null : services.subscriber.getStateStore();
  $: subscriberState = $subscriberStateStore;

  const serverConfigStore = service.getConfigStore();
  $: serverConfig = $serverConfigStore;

  const rosterMatch = useMatch("/roster");

  const location = useLocation();

  const ROOM_ROUTE_RE = /^\/room\/([a-zA-Z0-9_-]+)$/;
  const DM_ROUTE_RE = /^\/chat\/([a-zA-Z0-9_-]+)$/;

  let focused = true;
  let conversation = null;
  let partner = null;
  $: {
    const rm = $location.pathname.match(ROOM_ROUTE_RE);
    if (rm) {
      conversation = { type: "room", roomname: rm[1] };
      partner = null;
    }
    const dm = $location.pathname.match(DM_ROUTE_RE);
    if (dm) {
      conversation = { type: "dm", conversation: dm[1] };
      partner = dm[1];
    }
    if (focused && !services.isRestricted) {
      services.notify.setCurrentConversation(conversation);
      services.conversations.setCurrentPartner(partner);
    }
  }

  function onFocus(evt) {
    focused = true;
    if (!services.isRestricted) {
      services.notify.setCurrentConversation(conversation);
      services.notify.markAllRead();
      services.conversations.setCurrentPartner(partner);
    }
    services.updates.infrequentVersionCheck();
    if (!services.isRestricted) {
      services.subscriber.reconnectIfNotConnected();
    }
  }

  function onBlur(evt) {
    focused = false;
    if (!services.isRestricted) {
      services.notify.setCurrentConversation(null);
      services.conversations.setCurrentPartner(null);
    }
  }

  $: unreadNotificationStore = services.isRestricted ? writable([]) : services.notify.getNotifications().getUnreadStore();
  $: unreadNotifs = $unreadNotificationStore;

  let windowTitle;

  $: {
    const title = serverConfig ? serverConfig.title : "owo-chat";
    if (unreadNotifs.length > 0) {
      windowTitle = `(${unreadNotifs.length}) ${title}`;
    }
    else {
      windowTitle = title;
    }
  }

  $: newVersionExistsStore = services.updates.getNewVersionExistsStore();

  $: newVersionExists = $newVersionExistsStore;

  async function onUpdateButtonClick(_evt) {
    await services.updates.doUpdate();
  }
</script>

<style>
  #app {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex: 1;
  }

  .topbar-item {
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  .topbar-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  #topbar {
    display: flex;
    flex-direction: row;
  }

  #roster-container {
    display: flex;
    flex-direction: column;
    width: 250px;
    overflow: hidden;
  }

  @media screen and (max-width: 600px) {
    #roster-container {
      display: none;
    }
  }

  @media screen and (min-width: 600px) {
    #topbar.logged-in {
      display: none;
    }
  }

  @media (display-mode: standalone) {
    #topbar {
      display: none;
    }
  }

  #content-container {
    position: relative;
    display: flex;
    background-color: #111;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }

  .notice {
    text-align: center;
    padding: 5px;
  }
</style>

<svelte:head>
  <title>{windowTitle}</title>
</svelte:head>

<svelte:window on:focus={onFocus} on:blur={onBlur} />

{#if subscriberState !== "ready"}
  <div class="notice">
    Connection State: {subscriberState}
  </div>
{:else if offline}
  <div class="notice" on:click={(_evt) => { window.location.reload(); }}>
    Can't connect to server, running in offline mode.
  </div>
{/if}
{#if newVersionExists}
  <div class="notice" on:click={onUpdateButtonClick}>
    There is a new version of the app, click here to update!
  </div>
{/if}
{#if session}
  <div id="topbar" class:logged-in={!!session}>
    <div class="topbar-item" on:click={(_evt) => navigate("/roster")}>
      Roster
    </div>
  </div>
  <div id="app">
    {#if !$rosterMatch}
      <div id="roster-container">
        <Roster />
      </div>
    {/if}
    <div id="content-container">
      <Route path="/" />
      <Route path="/user/:username" let:params>
        <UserInfoView username={params.username} />
      </Route>
      <Route path="/room/:roomname" let:params>
        <RoomView roomname={params.roomname} />
      </Route>
      <Route path="/room/:roomname/settings" let:params>
        <RoomSettings roomname={params.roomname} />
      </Route>
      <Route path="/room/:roomname/emoji" let:params>
        <EmojiList roomname={params.roomname} />
      </Route>
      <Route path="/room/:roomname/emoji/new" let:params>
        <EmojiNew roomname={params.roomname} />
      </Route>
      <Route path="/chat/:username" let:params>
        <Chat username={params.username} />
      </Route>
      <Route path="/roster">
        <Roster />
      </Route>
      <Route path="/emoji">
        <EmojiList roomname={null} />
      </Route>
      <Route path="/emoji/new">
        <EmojiNew roomname={null} />
      </Route>
      <Route path="/settings">
        <Settings />
      </Route>
      <Route path="/create/room">
        <CreateRoom />
      </Route>
      <Route path="/search/rooms">
        <SearchRooms />
      </Route>
      <Route path="/search/users">
        <SearchUsers />
      </Route>
      <Route path="/help">
        <HelpPage />
      </Route>
    </div>
  </div>
{:else}
  <Onboarding />
{/if}
