<script lang="ts">
  import servicesFor from "../services";
  import service from "../service";

  import StyledBody from "./StyledBody.svelte";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  export let username: string;

  $: userInfoStore = services.users.getUserInfoStore(username);
  
  $: userInfo = $userInfoStore;
</script>

<style>
  .mention {
    display: inline-block;
    padding: 5px;
    background-color: rgba(200, 200, 255, 0.5);
    border-radius: 4px;
  }

  .mention:hover {
    background-color: rgba(200, 200, 255, 0.7);
    cursor: pointer;
  }

  .mention.inexistent-user {
    background-color: rgba(255, 100, 100, 0.5);
  }
</style>

{#if userInfo.exists}
  <div class="mention" style="color: {userInfo.color}">@<StyledBody nodes={userInfo.parsedDisplay} /></div>
{:else}
  <div class="mention inexistent-user">@{username}</div>
{/if}
