<script lang="ts">
  import { onDestroy, tick, createEventDispatcher } from "svelte";

  import MessageGroup from "./MessageGroup.svelte";

  export let messageGroupsStore: any; // TODO: name type

  export let myPermissions: any; // TODO: name type

  let messageGroupsUnsub = null;
  let lastMessage;
  let localMessageGroups = [];
  let initialScrollDown = true;
  let oldMessageGroupsStore = null;

  const dispatch = createEventDispatcher();

  $: {
    if (messageGroupsUnsub) {
      messageGroupsUnsub();
    }
    if (oldMessageGroupsStore !== messageGroupsStore) {
      initialScrollDown = true;
    }
    oldMessageGroupsStore = messageGroupsStore;
    messageGroupsUnsub = messageGroupsStore.subscribe((ms) => {
      if (!lastMessage || lastMessage.msgid !== ms[ms.length - 1]) {
        scrollDown();
      }
      lastMessage = ms[ms.length - 1];
      localMessageGroups = ms;
    });
  }

  onDestroy(() => {
    if (messageGroupsUnsub) {
      messageGroupsUnsub();
    }
  });

  let chatDiv;

  function scrollDown() {
    tick().then(() => {
      const target = chatDiv.scrollHeight - chatDiv.clientHeight;
      const diff = Math.abs(target - chatDiv.scrollTop);
      if (diff < 500 || initialScrollDown) {
        chatDiv.scrollTop = target;
        if (target > 100) {
          initialScrollDown = false;
        }
      }
    });
  }

  function onLoad(evt) {
    scrollDown();
  }

  function onWindowResize(_evt) {
    scrollDown();
  }

  function onMessageEdit(evt) {
    dispatch("messageedit", {
      msgid: evt.detail.msgid,
      newBody: evt.detail.newBody,
    });
  }

  function onMessageDelete(evt) {
    dispatch("messagedelete", {
      msgid: evt.detail.msgid,
    });
  }

  function onActionTrigger(evt) {
    dispatch("actiontrigger", {
      action: evt.detail.action,
    });
  }
</script>

<style>
  #chat-messages {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 3px;
    flex: 1;
    scrollbar-color: #333 #111;
    scrollbar-width: thin;
  }
</style>

<svelte:window on:resize={onWindowResize} />

<div id="chat-messages" bind:this={chatDiv}>
  {#each localMessageGroups as group (group.messages[0].msgid)}
    <MessageGroup
      on:load={onLoad}
      on:messageedit={onMessageEdit}
      on:messagedelete={onMessageDelete}
      on:actiontrigger={onActionTrigger}
      group={group}
      presetUserInfo={null}
      {myPermissions} />
  {/each}
</div>
