<script lang="ts">
  import { createEventDispatcher } from "svelte";

  import type { Node } from "../util/body";

  import StyledBody from "./StyledBody.svelte";

  export let canEdit: boolean;
  export let canDelete: boolean;

  export let message: {
    type: "emote" | "text",
    msgid: string,
    author: string,
    body: string,
    sent: Date,
    bodyParsed: Node,
  };

  export let userInfo;

  let editing = false;

  let editBody = "";

  const dispatch = createEventDispatcher();

  function onDeleteButtonClick(_evt) {
    dispatch("messagedelete", { msgid: message.msgid });
  }

  function onKeyDown(evt) {
    if (evt.keyCode === 13) {
      finishEdit();
      evt.preventDefault();
    }
  }

  function onLoad(_evt) {
    dispatch("load", {});
  }

  function onAction(evt) {
    dispatch("actiontrigger", { action: evt.detail.action });
  }

  function onEditButtonClick(_evt) {
    editing = true;
    editBody = message.body;
  }

  function finishEdit() {
    dispatch("messageedit", { msgid: message.msgid, newBody: editBody });
    editing = false;
  }

  function onEditDoneButtonClick(_evt) {
    finishEdit();
  }

  function onEditCancelButtonClick(_evt) {
    editing = false;
  }

  function formatDate(d) {
    let out = "";
    const now = new Date();
    if (d.toDateString() != now.toDateString()) {
      out += d.toLocaleDateString();
      out += " ";
    }
    out += d.toLocaleTimeString();
    return out;
  }
</script>

<style>
  .message-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -8px;
    margin-bottom: 5px;
    padding: 0.5em;
    white-space: pre-line;
  }

  .message-row:hover > .message-indicators {
    opacity: 1;
  }

  .message-row:hover > .message-buttons {
    opacity: 1;
  }

  .message-row.editing > .message-buttons {
    opacity: 1;
  }

  .message-body {
    display: block;
    flex: 1;
  }

  .message-indicators {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    top: 0;
    right: 0;
    opacity: 0.1;
  }

  .message-time {
    font-size: 70%;
  }

  .message-buttons {
    position: absolute;
    left: -60px;
    display: flex;
    opacity: 0;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 4em;
  }

  .message-button {
    font-size: 50%;
  }

  .emote {
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    overflow: hidden;
    margin-right: 0.4em;
  }
</style>

{#if message.bodyParsed}
  <div class="message-row" class:editing={editing}>
    {#if editing}
      <div class="message-buttons">
        <button class="message-button" on:click={onEditDoneButtonClick}>
          <div class="fas fa-check"></div>
        </button>
        <button class="message-button" on:click={onEditCancelButtonClick}>
          <div class="fas fa-times"></div>
        </button>
      </div>
      <input type="text" bind:value={editBody} on:keydown={onKeyDown} />
    {:else}
      <div class="message-indicators">
        <div class="message-time">{formatDate(message.sent)}</div>
      </div>
      <div class="message-buttons">
        {#if canDelete}
          <button class="message-button" on:click={onDeleteButtonClick}>
            <div class="fas fa-trash"></div>
          </button>
        {/if}
        {#if canEdit}
          <button class="message-button" on:click={onEditButtonClick}>
            <div class="fas fa-pencil-alt"></div>
          </button>
        {/if}
      </div>
      {#if message.type === "text"}
        <div class="message-body">
          <StyledBody on:load={onLoad} on:action={onAction} nodes={message.bodyParsed} />
        </div>
      {:else if message.type === "emote"}
        <div class="emote">
          <StyledBody on:load={onLoad} on:action={onAction} nodes={userInfo.parsedDisplay} />
        </div>
        <div class="message-body">
          <StyledBody on:load={onLoad} on:action={onAction} nodes={message.bodyParsed} />
        </div>
      {/if}
    {/if}
  </div>
{/if}
