<script type="ts">
  import service from "../service";
  import servicesFor from "../services";

  import StyledBody from "./StyledBody.svelte";

  export let username: string;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: userInfoStore = services.users.getUserInfoStore(username);
  $: userInfo = $userInfoStore;

  $: style = `border: 3px solid ${userInfo.bannerColor || "#333"}; scrollbar-color: ${userInfo.buttonColor || "#333"} #111`;
</script>

<style>
  .profile {
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    padding: 3px;
  }

  .bio {
    white-space: pre-line;
  }
</style>

<div class="profile" {style}>
  <div class="bio">
    <StyledBody nodes={userInfo.parsedBio || []} />
  </div>
</div>
