<script lang="ts">
  import service from "../service";
  import servicesFor from "../services";

  import { navigate } from "svelte-navigator";

  import HeaderBar from "./HeaderBar.svelte";
  import ChatInput from "./ChatInput.svelte";
  import Messages from "./Messages.svelte";
  import StyledBody from "./StyledBody.svelte";
  import RoomAvatar from "./RoomAvatar.svelte";

  export let roomname: string;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: userEmojiStore = services.emoji.getMyEmojiStore();

  $: starredRoomsStore = services.users.getStarredRoomsStore(session.myUsername);
  $: starredRooms = $starredRoomsStore;
  $: starredRoom = starredRooms.find(r => r.roomname === roomname);
  $: notifyMode = starredRoom && starredRoom.notifyMode;

  $: roomInfoStore = services.rooms.getRoomInfoStore(roomname);

  $: roomInfo = $roomInfoStore;

  $: roomMessageGroupsStore = services.messages.getRoomMessages(roomname).getMessageGroupsStore();

  $: subListenerStore = services.subscriber.listener("room:" + roomname);
  $: subListener = $subListenerStore;

  $: myRoleStore = services.rooms.getMyRoleStore(roomname);
  $: myRole = $myRoleStore;

  let myPermissions = {
    canConfigure: false,
    canBan: false,
    canDelete: false,
  };

  $: {
    if (myRole === "admin") {
      myPermissions = {
        canConfigure: true,
        canBan: true,
        canDelete: true,
      };
    }
    else if (myRole === "moderator") {
      myPermissions = {
        canConfigure: false,
        canBan: true,
        canDelete: true,
      };
    }
    else {
      myPermissions = {
        canConfigure: false,
        canBan: false,
        canDelete: false,
      };
    }
  }

  $: myEmojiList = $userEmojiStore;
  $: roomEmojiStore = services.emoji.getRoomEmojiStore(roomname);
  $: roomEmojiList = $roomEmojiStore;
  $: emojiList = myEmojiList.concat(roomEmojiList);

  async function sendMessage(evt) {
    const body = evt.detail.text;
    await services.messages.sendRoomMessage(roomname, body);
  }

  async function onRoomStarClicked(_evt) {
    if (starredRoom) {
      await services.users.removeUserStarredRoom(session.myUsername, roomname);
    }
    else {
      await services.users.addUserStarredRoom(session.myUsername, roomname, "mention");
    }
  }

  let editedRoomInfo = null;

  function onRoomSettingsClicked(_evt) {
    navigate("/room/" + roomname + "/settings");
  }

  async function onMessageDelete(evt) {
    await services.messages.deleteRoomMessage(roomname, evt.detail.msgid);
  }

  async function onMessageEdit(evt) {
    await services.messages.editRoomMessage(roomname, evt.detail.msgid, evt.detail.newBody);
  }

  const USERNAME_RE = /^[a-z0-9_-]+$/;

  async function onActionTrigger(evt) {
    const action = evt.detail.action;
    const idx = action.indexOf(":");
    if (idx !== -1) {
      const cmd = action.substring(0, idx);
      const arg = action.substring(idx + 1);
      if (cmd === "say") {
        await services.rooms.sendMessage(roomname, arg);
      }
      else if (cmd === "tick") {
        const idxb = arg.indexOf(":");
        if (idxb !== -1) {
          const dst = arg.substring(0, idxb);
          if (USERNAME_RE.test(dst)) {
            const code = arg.substring(idxb + 1);
            await services.rooms.sendTick(dst, code);
          }
        }
      }
    }
  }

  async function onNotifyModeButtonClicked(_evt) {
    if (notifyMode === "none") {
      await services.users.addUserStarredRoom(session.myUsername, roomname, "mention");
    }
    else if (notifyMode === "mention") {
      await services.users.addUserStarredRoom(session.myUsername, roomname, "all");
    }
    else if (notifyMode === "all") {
      await services.users.addUserStarredRoom(session.myUsername, roomname, "mention");
    }
  }
</script>

<style>
  #room-view-avatar {
    display: flex;
    border-radius: 0.4em;
    overflow: hidden;
    margin-right: 0.5em;
  }

  #room-view-room-display {
    white-space: pre-line;
    flex: 1;
  }

  #room-chat-input {
    background-color: rgba(255, 255, 255, 0.05);
  }
</style>

<HeaderBar backgroundColor={roomInfo.backgroundColor} foregroundColor={roomInfo.nameColor} allowCompact={true}>
  <div id="room-view-avatar" slot="icon">
    <RoomAvatar roomname={roomname} size={0} />
  </div>
  <div id="room-view-room-display">
    <StyledBody nodes={roomInfo.parsedDisplay} />
  </div>
  <div slot="buttons">
    {#if starredRoom}
      <button on:click={onNotifyModeButtonClicked}>
        {#if notifyMode === "none"}
          <div class="fas fa-bell-slash"></div>
        {:else if notifyMode === "all"}
          <div class="fas fa-bell"></div>
        {:else if notifyMode === "mention"}
          <div class="far fa-bell"></div>
        {/if}
      </button>
    {/if}
    <button on:click={onRoomStarClicked}>
      {#if starredRoom}
        <div class="fas fa-star"></div>
      {:else}
        <div class="far fa-star"></div>
      {/if}
    </button>
    {#if myPermissions.canConfigure}
      <button on:click={onRoomSettingsClicked}>
        <div class="fas fa-cog"></div>
      </button>
      <button on:click={(_evt) => navigate("/room/" + roomname + "/emoji")}>
        <div class="fas fa-smile"></div>
      </button>
    {/if}
  </div>
</HeaderBar>
<Messages
  messageGroupsStore={roomMessageGroupsStore}
  {myPermissions}
  on:messageedit={onMessageEdit}
  on:messagedelete={onMessageDelete}
  on:actiontrigger={onActionTrigger} />
<div id="room-chat-input">
  <ChatInput
    backgroundColor={roomInfo.backgroundColor}
    foregroundColor={roomInfo.nameColor}
    on:submit={sendMessage} {emojiList}
    messageGroups={$roomMessageGroupsStore} />
</div>
