<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  import RoomAvatar from "./RoomAvatar.svelte";
  import StyledBody from "./StyledBody.svelte";

  export let roomname: string;
  export let membersOnly: boolean;

  $: roomInfoStore = services.rooms.getRoomInfoStore(roomname);
  $: roomInfo = $roomInfoStore;

  $: starredRoomsStore = services.users.getStarredRoomsStore(session.myUsername);
  $: starredRooms = $starredRoomsStore;
  $: roomStarred = starredRooms.indexOf(roomname) != -1;

  async function onRoomStarClicked(_evt) {
    if (roomStarred) {
      await services.users.removeUserStarredRoom(session.myUsername, roomname);
    }
    else {
      await services.users.addUserStarredRoom(session.myUsername, roomname, "mention");
    }
  }

  let styles = "";

  $: {
    styles = "";
    if (roomInfo.backgroundColor) {
      styles += `background-color: ${roomInfo.backgroundColor};`;
    }
    if (roomInfo.nameColor) {
      styles += `color: ${roomInfo.nameColor};`;
    }
  }
</script>

<style>
  .list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
    height: 4em;
  }

  .list-row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.01);
  }

  .list-col-avatar {
    display: flex;
    padding: 4px;
    margin-right: 1em;
    border-radius: 0.4em;
    overflow: hidden;
    align-items: stretch;
    justify-content: stretch;
  }

  .list-col-display {
    flex: 1;
  }

  .list-col-roomname {
    padding: 4px;
  }

  .list-col-members-only {
    padding: 4px;
  }
</style>

<div class="list-row" style={styles}>
  <div class="list-col-avatar">
    <RoomAvatar roomname={roomname} />
  </div>
  <div class="list-col-display">
    <StyledBody nodes={roomInfo.parsedDisplay} />
  </div>
  <div class="list-col-roomname">
    #{roomname}
  </div>
  <div class="list-col-members-only">
    {#if membersOnly}
      <div class="fas fa-lock"></div>
    {:else}
      <div class="fas fa-lock-open"></div>
    {/if}
  </div>
  <button on:click={onRoomStarClicked}>
    {#if roomStarred}
      <div class="fas fa-star"></div>
    {:else}
      <div class="far fa-star"></div>
    {/if}
  </button>
  <button on:click={(evt) => { navigate("/room/" + roomname); }}>
    <div class="fas fa-arrow-right"></div>
  </button>
</div>
