<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  import { parseBbCode, fullBbCodeConfig } from "../util/body";

  import HeaderBar from "./HeaderBar.svelte";
  import Avatar from "./Avatar.svelte";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  export let roomname: string;

  let roleAddUsername = "";
  let roleAddRole = "member";

  $: roomInfoStore = services.rooms.getRoomInfoStore(roomname);

  $: roomInfo = $roomInfoStore;

  $: roomAvatarUrlStore = services.rooms.getAvatarUrlStore(roomname);

  $: roomAvatarUrl = $roomAvatarUrlStore;

  $: rolesListStore = services.rooms.getRolesListStore(roomname);
  $: rolesList = $rolesListStore;

  $: subListenerStoreA = services.subscriber.listener("room:" + roomname);
  $: subListenerA = $subListenerStoreA;

  $: subListenerStoreB = roomname && services.subscriber.listener("room-info:" + roomname);
  $: subListenerB = $subListenerStoreB;

  let newRole = {
    role: "member",
    username: "",
  };

  async function uploadRoomInfo() {
    const m = roomInfo;
    const roomInfoData = {
      display: m.display,
      bio: m.bio,
      nameColor: m.nameColor,
      backgroundColor: m.backgroundColor,
    };
    await services.rooms.putRoomInfo(roomname, roomInfoData);
  }

  async function onSaveClick(_evt) {
    await uploadRoomInfo();
  }

  async function onAvatarImageChange(evt) {
    const file = evt.target.files[0];
    await services.rooms.uploadAvatar(roomname, file);
  }

  async function onAvatarImageClear(_evt) {
    // TODO
  }

  function onBackButtonClick(_evt) {
    navigate("/room/" + roomname);
  }

  async function onRoleRemoveButtonClick(_evt, role) {
    await services.rooms.setUserRole(roomname, role.username, "none");
  }

  async function doRoleAdd() {
    if (newRole.username === "") {
      return; // TODO: report
    }
    await services.rooms.setUserRole(roomname, newRole.username, newRole.role);
    newRole.username = "";
  }

  async function onRoleAddButtonClick(_evt) {
    await doRoleAdd();
  }

  async function onRoleAddKeyDown(evt) {
    if (evt.keyCode === 13) {
      await doRoleAdd();
      evt.preventDefault();
    }
  }
</script>

<style>
  #room-settings-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .settings-header {
    padding: 7px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 140%;
    background-color: rgba(255, 255, 255, 0.05);
  }

  .section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
  }

  .field-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 5px;
  }

  .field-label {
    padding: 10px;
    width: 150px;
    font-weight: bold;
    font-size: 80%;
  }

  .field-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px;
    flex: 1;
  }

  .upload-container {
    position: relative;
    flex: 1;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .upload {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    margin: 10px;
  }

  .upload-image {
    width: 64px;
    height: 64px;
  }

  .upload-button {
    margin: 10px;
  }

  .roles-table {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }

  .roles-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px;
    overflow: hidden;
  }

  .roles-avatar {
    width: 32px;
    height: 32px;
    padding: 6px;
    text-align: center;
    overflow: hidden;
  }

  .roles-role {
    width: 12em;
    padding: 6px;
    text-align: center;
    overflow: hidden;
  }

  .roles-username {
    width: 12em;
    padding: 6px;
    text-align: center;
    overflow: hidden;
  }
</style>

<HeaderBar>
  Room Settings
</HeaderBar>
<div id="room-settings-view">
  <div class="section-header">
    Appearance
  </div>
  <div class="section-content">
    <div class="field-row">
      <label class="field-label" for="room-settings-avatar-image">Image</label>
      <div class="field-input">
        <div class="upload-container">
          <img class="upload-image" src={roomAvatarUrl} />
          <input class="upload" id="room-settings-avatar-image" type="file" on:change={onAvatarImageChange} />
        </div>
        <button class="upload-button" on:click={onAvatarImageClear}>Clear</button>
      </div>
    </div>
    <div class="field-row">
      <label class="field-label" for="room-settings-display-field">Display Name</label>
      <input class="field-input" id="room-settings-display-field" type="text" bind:value={roomInfo.display} />
    </div>
    <div class="field-row">
      <label class="field-label" for="room-settings-name-color-field">Name Color</label>
      <input class="field-input" id="room-settings-name-color-field" type="color" bind:value={roomInfo.nameColor} />
    </div>
    <div class="field-row">
      <label class="field-label" for="room-settings-bg-color-field">Background Color</label>
      <input class="field-input" id="room-settings-bg-color-field" type="color" bind:value={roomInfo.backgroundColor} />
    </div>
    <div class="field-row">
      <label class="field-label" for="room-settings-save"></label>
      <button id="room-settings-save" on:click={onSaveClick}>Save</button>
    </div>
  </div>
  <div class="section-header">
    Roles
  </div>
  <div class="section-content">
    <div class="roles-table">
      <div class="roles-row">
        <div class="roles-avatar">
        </div>
        <div class="roles-username">
          Username
        </div>
        <div class="roles-role">
          Role
        </div>
      </div>
      {#each rolesList as role (role.role)}
        <div class="roles-row">
          <div class="roles-avatar">
            <Avatar username={role.username} size={0} />
          </div>
          <div class="roles-username">
            {role.username}
          </div>
          <div class="roles-role">
            {role.role}
          </div>
          <button disabled={role.username === session.myUsername} on:click={(evt) => onRoleRemoveButtonClick(evt, role)}><div class="fas fa-minus"></div></button>
        </div>
      {/each}
      <div class="roles-row">
        <div class="roles-avatar">
        </div>
        <div class="roles-username">
          <input on:keydown={onRoleAddKeyDown} type="text" autocapitalize="false" bind:value={newRole.username} />
        </div>
        <div class="roles-role">
          <select bind:value={newRole.role}>
            <option value="member">Member</option>
            <option value="moderator">Moderator</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        <button on:click={onRoleAddButtonClick}><div class="fas fa-plus"></div></button>
      </div>
    </div>
  </div>
</div>
