<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  import Avatar from "./Avatar.svelte";
  import RoomAvatar from "./RoomAvatar.svelte";
  import StyledBody from "./StyledBody.svelte";
  import RosterUser from "./RosterUser.svelte";
  import RosterRoom from "./RosterRoom.svelte";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;

  $: services = servicesFor(session);

  $: myFriendsStore = services.users.getMyFriendsStore();
  $: myFriends = $myFriendsStore;

  $: openConversationsStore = services.conversations.getOpenConversationsStore();
  $: openConversations = $openConversationsStore;

  $: starredRoomsStore = services.users.getStarredRoomsStore(session.myUsername);
  $: starredRooms = $starredRoomsStore;

  $: userInfoStore = services.users.getUserInfoStore(session.myUsername);

  $: userInfo = $userInfoStore;

  $: avatarStyle = `border: 2px solid ${userInfo.nameColor || "#111"}`;
  $: nameStyle = `color: ${userInfo.nameColor || "inherit"}`;

  function onSettingsClick(_evt) {
    navigate("/settings");
  }

  function onEmojiClick(_evt) {
    navigate("/emoji");
  }

  function onHelpClick(_evt) {
    navigate("/help");
  }

  function onGitLabClick(_evt) {
    window.open("https://gitlab.com/owochat", "_blank");
  }
</script>

<style>
  #roster {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    background-color: #161616;
  }

  #roster-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 8px 0;
    font-weight: bold;
    height: 48px;
  }

  #roster-header-avatar {
    margin-left: 8px;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
  }

  #roster-header-rest {
    margin-left: 8px;
    flex: 1;
  }

  #roster-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 3px 5px;
    font-weight: bold;
  }

  #roster-list {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    scrollbar-color: #333 #111;
    scrollbar-width: thin;
  }

  .header {
    margin-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 70%;
  }

  .header-text {
    font-weight: bold;
    font-size: 120%;
  }

  .header-text {
    flex: 1;
  }

  .filler {
    flex: 1;
  }
</style>

<div id="roster">
  <div id="roster-header">
    <div id="roster-header-avatar" style={avatarStyle}>
      <Avatar username={session.myUsername} size={0} />
    </div>
    <div id="roster-header-rest" style={nameStyle}>
      <StyledBody nodes={userInfo.parsedDisplay} />
    </div>
  </div>
  <div id="roster-list">
    <div class="header">
      <div class="header-text">
        Rooms
      </div>
      <button on:click={(_evt) => { navigate("/search/rooms"); }}>
        <div class="fas fa-plus"></div>
      </button>
    </div>
    <div id="roster-list-rooms">
      {#each starredRooms as starredRoom (starredRoom.roomname)}
        <RosterRoom {services} {starredRoom} />
      {/each}
    </div>
    <div class="header">
      <div class="header-text">
        Conversations
      </div>
      <button on:click={(_evt) => { navigate("/search/users"); }}>
        <div class="fas fa-plus"></div>
      </button>
    </div>
    <div id="roster-list-conversations">
      {#each openConversations as conversation (conversation.partner)}
        <RosterUser username={conversation.partner} />
      {/each}
    </div>
    <div class="header">
      <div class="header-text">
        Friends
      </div>
      <button on:click={(_evt) => { navigate("/search/users"); }}>
        <div class="fas fa-plus"></div>
      </button>
    </div>
    <div id="roster-list-friends">
      {#each myFriends as friend (friend.username)}
        <RosterUser username={friend.username} />
      {/each}
    </div>
  </div>
  <div id="roster-bottom">
    <button on:click={onSettingsClick}>
      <div class="fas fa-cog"></div>
    </button>
    <button on:click={onEmojiClick}>
      <div class="fas fa-smile"></div>
    </button>
    <button on:click={onHelpClick}>
      <div class="fas fa-question"></div>
    </button>
    <div class="filler"></div>
    <button on:click={onGitLabClick}>
      <div class="fab fa-gitlab"></div>
    </button>
  </div>
</div>
