<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  import { computeRosterItemStyles } from "../userstyle";

  import Avatar from "./Avatar.svelte";
  import StyledBody from "./StyledBody.svelte";

  export let username: string;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: notificationsStore = services.notify.getDmNotificationsStore(username);
  $: notifications = $notificationsStore;

  $: hasNotifs = notifications > 0;

  $: conversationStore = services.conversations.getConversation(username).getStore();
  $: conversation = $conversationStore;

  $: hasUnread = conversation.lastMsgid !== conversation.lastReadMsgid;

  $: userInfoStore = services.users.getUserInfoStore(username);
  $: userInfo = $userInfoStore;

  $: styles = computeRosterItemStyles($userInfoStore);
</script>

<style>
  .entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em 0.8em;
    background: #282828;
    cursor: pointer;
  }

  .entry:hover {
    background: #343434;
  }

  .entry:first-child {
    border-top: 1px solid #111;
  }

  .entry:not(:last-child) {
    border-bottom: 1px solid #111;
  }

  .avatar {
    display: flex;
    overflow: hidden;
    border-radius: 0.4em;
  }

  .display {
    flex: 1;
    padding: 0.3em;
    padding-left: 0.4em;
    overflow: hidden;
  }

  .indicators {
    padding: 0.3em;
  }

  .unread {
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.05rem;
    background-color: #f00;
    font-weight: bold;
    font-family: sans;
    font-size: 1rem;
    color: #fff;
  }

  .unread.activated {
    display: flex;
  }
</style>

<div class="entry" style={styles} on:click={navigate("/chat/" + username)}>
  <div class="avatar">
    <Avatar username={username} size={0} />
  </div>
  <div class="display">
    <StyledBody nodes={userInfo.parsedDisplay} />
  </div>
  <div class="indicators">
    <div class="unread" class:activated={hasUnread}></div>
  </div>
</div>
