<script lang="ts">
  import servicesFor from "../services";
  import service from "../service";

  import { parseBbCode, fullBbCodeConfig } from "../util/body";

  import HeaderBar from "./HeaderBar.svelte";
  import MessageGroup from "./MessageGroup.svelte";

  let inviteUrl = null;

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  $: userInfoStore = services.users.getUserInfoStore(session.myUsername);

  $: userInfo = $userInfoStore;

  $: avatarUrlStore = services.users.getAvatarUrlStore(session.myUsername);
  $: backgroundUrlStore = services.users.getBackgroundUrlStore(session.myUsername);
  $: avatarUrl = $avatarUrlStore;
  $: backgroundUrl = $backgroundUrlStore;

  $: beforeInstallPromptStore = service.getBeforeInstallPromptStore();

  $: beforeInstallPrompt = $beforeInstallPromptStore;

  $: notificationsEnabled = services.notify.isEnabled();

  $: suggestionModeStore = services.settings.getSuggestionModeStore();
  $: suggestionMode = $suggestionModeStore;

  $: messageGroupPreview = {
    author: session.myUsername,
    messages: [
      {
        type: "text",
        msgid: "invalid1",
        author: session.myUsername,
        sent: new Date(),
        body: "this is a test message!",
        bodyParsed: parseBbCode("this is a test message!", fullBbCodeConfig),
      },
      {
        type: "text",
        msgid: "invalid2",
        author: session.myUsername,
        sent: new Date(),
        body: "this one, too!",
        bodyParsed: parseBbCode("this one, too!", fullBbCodeConfig),
      },
    ],
  };

  $: myPermissionsStore = service.getMyPermissionsStore();
  $: myPermissions = $myPermissionsStore;

  function onSuggestionModeChange(evt) {
    services.settings.setSuggestionMode(evt.target.value);
  }

  async function onNotificationCheckboxChange(evt) {
    if (evt.target.checked) {
      if (Notification.permission === "default") {
        const perm = await Notification.requestPermission();
        if (perm === "granted") {
          services.notify.setEnabled(true);
          notificationsEnabled = true;
        }
        else {
          notificationsEnabled = false;
          evt.target.checked = false; // because we're not changing notificationsEnabled
        }
      }
      else if (Notification.permission === "granted") {
        notificationsEnabled = true;
        services.notify.setEnabled(true);
      }
      else {
        notificationsEnabled = false;
        evt.target.checked = false; // because we're not changing notificationsEnabled
      }
    }
    else {
      notificationsEnabled = false;
      services.notify.setEnabled(false);
    }
  }

  async function uploadUserInfo() {
    const m = userInfo;
    const userInfoData = {
      display: m.display,
      age: m.age,
      gender: m.gender,
      location: m.location,
      bio: m.bio,
      extraFields: m.extraFields,
      nameColor: m.nameColor,
      textColor: m.textColor,
      bannerColor: m.bannerColor,
      buttonColor: m.buttonColor,
      background: { ...m.background },
    };
    await services.users.setUserInfo(session.myUsername, userInfoData);
  }

  async function onBgSubmitClick(_evt) {
    await uploadUserInfo();
  }

  async function onBackgroundImageChange(evt) {
    const file = evt.target.files[0];
    await services.users.uploadBackground(session.myUsername, file);
    userInfo.background.image = true;
    await uploadUserInfo();
  }

  async function onBackgroundImageClear(_evt) {
    userInfo.background.image = false;
    await uploadUserInfo();
  }

  async function onAvatarImageChange(evt) {
    const file = evt.target.files[0];
    await services.users.uploadAvatar(session.myUsername, file);
  }

  async function onLogoutClick(_evt) {
    await service.logout();
  }

  function onAppInstall(_evt) {
    beforeInstallPrompt.prompt();
  }

  async function onCreateInviteClick(_evt) {
    const { inviteToken } = await service.createInvite({
      autoAdd: true,
    });
    inviteUrl = window.location.origin + "/invite/" + inviteToken;
  }

  const myMessagePermissions = {
    canDelete: true,
    canConfigure: true,
    canMute: true,
    canMessage: true,
  };
</script>

<style>
  #settings-view {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .section-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-size: 120%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
  }

  .section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .field-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    overflow: hidden;
  }

  .field-row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    padding: 1em;
    align-self: stretch;
    overflow: hidden;
  }

  .field-row-center > input {
    flex: 1;
  }

  .field-label {
    overflow: hidden;
    padding: 10px;
    width: 150px;
    font-weight: bold;
    font-size: 80%;
  }

  .field-input {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px;
    flex: 1;
  }

  .message-preview {
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 30px;
  }

  .upload-container {
    position: relative;
    flex: 1;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .upload {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    margin: 10px;
  }

  .upload-image {
    width: 64px;
    height: 64px;
  }

  .upload-button {
    margin: 10px;
  }
</style>

<HeaderBar>
  Settings
</HeaderBar>
<div id="settings-view">
  <div class="section-header">
    Notifications
  </div>
  <div class="section-content">
    <div class="field-row">
      <label class="field-label" for="settings-notifications-field">Enable Notifications</label>
      <input class="field-input" id="settings-notifications-field" type="checkbox" on:change={onNotificationCheckboxChange} checked={notificationsEnabled} />
    </div>
  </div>
  {#if beforeInstallPrompt}
    <div class="section-header">
      Install
    </div>
    <div class="section-content">
      <div class="field-row">
        <label class="field-label" for="settings-app-install"></label>
        <button id="settings-app-install" on:click={onAppInstall}>Install as PWA</button>
      </div>
    </div>
  {/if}
  <div class="section-header">
    Behavior
  </div>
  <div class="section-content">
    <div class="field-row">
      <label class="field-label" for="settings-suggestion-mode">Suggestion Mode</label>
      <select id="settings-suggestion-mode" value={suggestionMode} on:change={onSuggestionModeChange}>
        <option value="default">Default</option>
        <option value="tab-complete">Tab Complete</option>
        <option value="none">None</option>
      </select>
    </div>
  </div>
  {#if myPermissions.canInvite}
    <div class="section-header">
      Invitations
    </div>
    <div class="section-content">
      <div class="field-row">
        <div class="field-label"></div>
        <button on:click={onCreateInviteClick}>Create Invite</button>
      </div>
      <div class="field-row-center">
        {#if inviteUrl}
          <input type="text" value={inviteUrl} />
        {/if}
      </div>
    </div>
  {/if}
  <div class="section-header">
    Appearance
  </div>
  <div class="message-preview">
    <MessageGroup group={messageGroupPreview} myPermissions={myMessagePermissions} presetUserInfo={userInfo} />
  </div>
  <div class="section-content">
    <div class="field-row">
      <label class="field-label" for="settings-avatar-image">Avatar</label>
      <div class="field-input">
        <div class="upload-container">
          <img class="upload-image" src={avatarUrl} />
          <input class="upload" id="settings-avatar-image" type="file" accept=".png,.jpg,.jpeg" on:change={onAvatarImageChange} />
        </div>
      </div>
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-name-color-field">Name color</label>
      <input class="field-input" id="settings-name-color-field" type="color" bind:value={userInfo.nameColor} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-text-color-field">Text color</label>
      <input class="field-input" id="settings-text-color-field" type="color" bind:value={userInfo.textColor} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-banner-color-field">Banner color</label>
      <input class="field-input" id="settings-banner-color-field" type="color" bind:value={userInfo.bannerColor} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-button-color-field">Button color</label>
      <input class="field-input" id="settings-button-color-field" type="color" bind:value={userInfo.buttonColor} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-enabled">Enable Background</label>
      <input class="field-input" id="settings-bg-enabled" type="checkbox" bind:checked={userInfo.background.enabled} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-image">Background Image</label>
      <div class="field-input">
        <div class="upload-container">
          <img class="upload-image" src={backgroundUrl} />
          <input class="upload" id="settings-bg-image" type="file" accept=".png,.jpg,.jpeg" on:change={onBackgroundImageChange} />
        </div>
        <button class="upload-button" on:click={onBackgroundImageClear}>Clear</button>
      </div>
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-color">Background Color</label>
      <input class="field-input" id="settings-bg-color" type="color" bind:value={userInfo.background.color} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-alpha">Background Opacity</label>
      <input class="field-input" id="settings-bg-alpha" type="number" min="0" max="100" bind:value={userInfo.background.alpha} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-align">Background Alignment</label>
      <select id="settings-bg-align" bind:value={userInfo.background.align}>
        <option value="top-left">Top Left</option>
        <option value="top-right">Top Right</option>
        <option value="bottom-left">Bottom Left</option>
        <option value="bottom-right">Bottom Right</option>
        <option value="center">Center</option>
      </select>
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-repeat-x">Background Repeat X</label>
      <input class="field-input" id="settings-bg-repeat-x" type="checkbox" bind:checked={userInfo.background.repeat.x} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-repeat-y">Background Repeat Y</label>
      <input class="field-input" id="settings-bg-repeat-y" type="checkbox" bind:checked={userInfo.background.repeat.y} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-size-x">Background Size X</label>
      <input class="field-input" id="settings-bg-size-x" type="text" bind:value={userInfo.background.size.x} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-size-y">Background Size Y</label>
      <input class="field-input" id="settings-bg-size-y" type="text" bind:value={userInfo.background.size.y} />
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-bg-submit"></label>
      <button id="settings-bg-submit" on:click={onBgSubmitClick}>Save</button>
    </div>
  </div>
  <div class="section-header">
    Log Out
  </div>
  <div class="section-content">
    <div class="field-row">
      <label class="field-label" for="settings-logout-submit"></label>
      <button id="settings-logout-submit" on:click={onLogoutClick}>Log Out</button>
    </div>
  </div>
  <div class="section-header">
    Debug (do not touch!)
  </div>
  <div class="section-content">
    <div class="field-row">
      <label class="field-label" for="settings-refresh-submit"></label>
      <button id="settings-refresh-submit" on:click={(_evt) => window.location.reload()}>Force Refresh</button>
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-sw-refresh-submit"></label>
      <button id="settings-sw-refresh-submit" on:click={(_evt) => navigator.serviceWorker.controller.postMessage({"type": "reload"})}>Force Reload ServiceWorker</button>
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-enable-sw"></label>
      <button id="settings-enable-sw" on:click={(_evt) => localStorage.setItem("install-sw", "true")}>Enable ServiceWorker</button>
    </div>
    <div class="field-row">
      <label class="field-label" for="settings-enable-sw"></label>
      <button id="settings-enable-sw" on:click={(_evt) => localStorage.removeItem("install-sw")}>Disable ServiceWorker</button>
    </div>
  </div>
</div>
