<script lang="ts">
  import { navigate } from "svelte-navigator";

  import servicesFor from "../services";
  import service from "../service";

  import { computeRosterItemStyles } from "../userstyle";

  const sessionStore = service.getSessionStore();
  $: session = $sessionStore;
  $: services = servicesFor(session);

  import Avatar from "./Avatar.svelte";
  import StyledBody from "./StyledBody.svelte";

  export let username: string;

  $: userInfoStore = services.users.getUserInfoStore(username);
  $: userInfo = $userInfoStore;

  $: styles = computeRosterItemStyles(userInfo);

  $: myFriendsStore = services.users.getMyFriendsStore();
  $: myFriends = $myFriendsStore;

  let isMyFriend = false;

  $: {
    isMyFriend = false;
    for (const friend of myFriends) {
      if (friend.username === username) {
        isMyFriend = true;
      }
    }
  }

  async function onFriendButtonClick(_evt) {
    if (isMyFriend) {
      await services.users.removeFriend(username);
    }
    else {
      await services.users.addFriend(username);
    }
  }
</script>

<style>
  .list-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    background-color: rgba(255, 255, 255, 0);
    height: 4em;
  }

  .list-row:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.01);
  }

  .list-col-avatar {
    display: flex;
    padding: 4px;
    margin-right: 1em;
    border-radius: 0.4em;
    overflow: hidden;
    align-items: stretch;
    justify-content: stretch;
  }

  .list-col-display {
    flex: 1;
  }

  .list-col-username {
    padding: 4px;
  }
</style>

<div class="list-row" style={styles}>
  <div class="list-col-avatar">
    <Avatar username={username} />
  </div>
  <div class="list-col-display">
    <StyledBody nodes={userInfo.parsedDisplay} />
  </div>
  <div class="list-col-username">
    @{username}
  </div>
  <button disabled={session.myUsername === username} on:click={onFriendButtonClick}>
    {#if isMyFriend}
      <div class="fas fa-users-slash"></div>
    {:else}
      <div class="fas fa-users"></div>
    {/if}
  </button>
  <button on:click={(evt) => { navigate("/chat/" + username); }}>
    <div class="fas fa-arrow-right"></div>
  </button>
</div>
